.wave {
  fill: hsla(223, 100%, 7%, 0.7);
  overflow: hidden;
  height: 10rem;
  width: 100%;
}

.wave svg {
  width: 100%;
  height: 100%;
}

#especial .container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: hsla(223, 100%, 7%, 0.7);
}

#especial .texto {
  color: #c9ada7;
  width: 50%;
  max-width: 600px;
  text-align: initial;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#especial h2 {
  font-family: "Prompt", sans-serif;
}

#especial h3 {
  font-family: "Prompt", sans-serif;
  text-decoration: underline;
  margin: 0.5rem 0 0.5rem 0;
}

#especial li {
  font-family: "Prompt", sans-serif;
  margin: 0.5rem 0 0.5rem 0;
}

#especial .img-container {
  background-image: url("../../IMG/coctel.jpg");
  background-size: cover;
  background-position: center center;
  height: 350px;
  width: 250px;
  border-radius: 5%;
  border: 1px solid #c9ada7;
}

#especial .color-acento {
  color: #905a81;
}

@media screen and (max-width: 640px) {
  .wave {
    display: none;
  }
  #especial h2 {
    line-height: 20px;
  }
  #especial li {
    font-size: 0.8rem;
    line-height: 18px;
  }

  #especial .img-container {
    width: 25rem;
    height: 20rem;
  }
}

@media screen and (max-width:1023px) and (min-width:767px) {
  .wave {
    display: none;
  }
}