.text {
    color: #C9ADA7;
    height: 100%;
    width: 45%;
    top: 25%;
    left: 27.3%;
    background-color:hsla(223, 100%, 7%, 0.7);
}

.text h1 {
  opacity: none;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 200px;
}
 
.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 200px;
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #C9ADA7;
    color: #000922;
    text-transform: uppercase;
    letter-spacing: .10em;
    border-radius: 4px;
    font-family: 'Prompt', sans-serif;
    font-size: medium;
    transition: 0.5s;
}

.reserva-boton:hover{
    background-color:#000922;
    color: #C9ADA7;
    font-weight: bolder;
}

