main{
    height: 60%;
    margin-bottom: 2.5rem;
}

.logo-container{
    text-align:center;
    margin: 1rem 0 3rem 0;
}

.links-container{
    text-align: center;
}

.icon-link{
    margin: 0 1rem 0 0;
}

.link-img{
    width: 4rem;
}