.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.adress-container-modal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modal-content {
  background-color: hsla(223, 100%, 7%, 0.7);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #905a81;
  width: 80%;
}

.close {
  color: #c9ada7;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #905a81;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .adress-container {
    overflow: hidden;
    margin: 1.5rem;
    padding-bottom: 20rem;
    position: relative;
    height: 0;
  }

  .adress-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
