html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  padding: 0 5px;
}

.barimg {
  margin: 40px;
  margin-top: 15%;
  margin-bottom: 15%;
}

.about-section {
  font-family: "Prompt", sans-serif;
  padding: 60px;
  text-align: center;
  margin: 0 10rem;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    #cb91b5b2,
    rgba(255, 0, 0, 0)
  );
  color: white;
  letter-spacing: 1px;
  font-size: large;
  text-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);
}

.about-section > h1 {
  text-transform: uppercase;
  font-size: larger;
  padding-bottom: 2.5rem;
}

.about-section > p {
  margin: 0 10rem;
  line-height: 2rem;
}

.about-section > h2 {
  line-height: 4rem;
  font-size: x-small;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


/* INICIO RESPONSIVE */
@media screen and (max-width: 640px) {
  .about-section {
    padding: 10px;
    margin: 0;
    font-size: small;
  }

  .about-section > h1 {
    font-size: medium;
    padding-bottom: 1.5rem;
  }

  .about-section > p {
    margin: 0;
    line-height: 1.5rem;
  }

  .about-section > h2{
    margin-top: 1rem;
    line-height: 1rem;
  }

  .column {
    width: 100%;
    display: block;
  }

  .barimg {
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .barimg img {
    border: 1px #cb91b5b2 solid;
  }
}

@media screen and (max-width: 767px) and (min-width: 640px) {
  .about-section {
    padding: 10px;
    margin: 0;
    font-size: medium;
  }

  .about-section > h1 {
    font-size: medium;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .about-section {
    padding: 10px;
    margin: 0;
  }

  .about-section > h1 {
    padding-bottom: 1.5rem;
  }
}
